body {
  color: #40514e;
  font-family: serif;
  margin: 0;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 2;
}

a {
  color: grey;
  text-decoration: none;
  padding: 8px;
}

hr {
  border-width: 6px;
  border-style: dotted none none none;
  color: #eae6b6;
  margin: 60px auto;
  width: 4%;
}

/*
font-family: 'Six Caps', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Nothing You Could Do', cursive;
    font-family: 'Fredericka the Great', cursive
    font-family: 'Cabin Sketch', cursive;
*/

header {
  background-color: black;
  color: white;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.headerBtn {
  background-color: Black;
  border-color: rgba(77, 77, 82, 0.911);
  border-radius: 8%;
  font-family: "Special Elite", cursive, monospace;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topDiv {
  background-color: #69bfbf;
  margin-right: 0;
  position: relative;
  top: 50px;
  padding-top: 166px;
}

.topDivImg {
  margin-top: 5px;
}

.mountainImg {
  height: 360px;
}

.middleDiv {
  background-color: white;
  margin: 100px 0;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  padding: 20px;
  transition: 5s all ease;
}

.midHeading {
  color: #16817a;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 5px;
}

#profileImg {
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s all ease-in;
  width: 14%;
}

#profileImg:hover {
  padding: 100px;
  transform: scale(1.3);
}

.skill-row {
  letter-spacing: 1px;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.skillImg1 {
  float: left;
  padding-inline-end: 30px;
  width: 25%;
  padding-top: 15px;
}

/* .skillPara1{
  padding-top: 20px;
  clear: left;
}
 */
.skillImg2 {
  float: right;
  padding-inline-start: 30px;
  width: 25%;
}

/* .skillPara2{
  padding-top: 20px;
  clear: right;
} */

/* .contact-me{
  
}
 */
.contactPara {
  margin: 40px auto;
  width: 30%;
}

.contactBtn {
  background: #18a59c;
  background-image: -webkit-linear-gradient(top, #18a59c, #37afa7);
  background-image: -moz-linear-gradient(top, #18a59c, #37afa7);
  background-image: -ms-linear-gradient(top, #18a59c, #37afa7);
  background-image: -o-linear-gradient(top, #18a59c, #37afa7);
  background-image: linear-gradient(to bottom, #18a59c, #37afa7);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 12px;
  box-shadow: 1px 1px 7px 0px #0059a0;
  -webkit-box-shadow: 1px 1px 7px 0px #0059a0;
  -moz-box-shadow: 1px 1px 7px 0px #0059a0;
  text-shadow: 0px 0px 31px #000000;
  border: solid #189a92 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contactBtn:hover {
  border: solid #337fed 1px;
  background: #1d9ead;
  background-image: -webkit-linear-gradient(top, #1d9ead, #1bbeb5);
  background-image: -moz-linear-gradient(top, #1d9ead, #1bbeb5);
  background-image: -ms-linear-gradient(top, #1d9ead, #1bbeb5);
  background-image: -o-linear-gradient(top, #1d9ead, #1bbeb5);
  background-image: linear-gradient(to bottom, #1d9ead, #1bbeb5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.bottomDiv {
  background-color: black;
  color: white;
  font-family: monospace;
  height: 40px;
  margin-bottom: 0;
  padding: 10px 0 20px 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.heading {
  color: white;
  margin-top: 0;
  font-family: "Special Elite", cursive;
}

.underline {
  text-decoration: underline;
  text-decoration-color: yellow;
}

.blackText {
  color: black;
}

#cloud1 {
  position: absolute;
  right: 300px;
  top: 45px;
  transition: 3s all ease-in-out;
}

#cloud1:hover {
  transform: scale(1.5);
}

#cloud2 {
  bottom: 300px;
  position: absolute;
  transition: 3s all ease-in-out;
}

#cloud2:hover {
  transform: scale(1.5);
}
